@import "/src/styles/variables";

.chat-side {
  width: 20%;
  height: 100%;
  border-right: 2px solid #eaeaea;
  background-color: #fbfbfb;
  position: relative;
}

.chat-side__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
}

.chat__menu-inner {
  position: absolute;
  top: 0;
  left: 12px;
  display: none;
  flex-direction: column;
  padding: 8px 0;
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  border-radius: 8px;
  list-style-type: none;
  z-index: 5;
}

.chat__menu-button {
  position: relative;

  &:hover .chat__menu-inner {
    display: flex;
  }
}

.chat__menu-item {
  padding: 7px 25px 7px 7px;
  text-decoration: none;

  &:hover {
    background-color: #d9f5dc;
  }
}

.chat__menu-logout {
  padding: 7px;
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
  text-decoration: none;

  &:hover {
    background-color: #ffc5c5;
  }
}

.chat__menu-link {
  font-family: Inter-Medium, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: $black-base;
}

.chat__button-logout {
  font-family: Inter-Medium, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $black-base;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.chat-side__search {
  padding: 10px;
}

.chat-side__search-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 6px 14px;
  background-color: $grey-bg;
}

.chat-side__search-icon {
  width: 20px;
  height: 20px;
  background-image: url("/static/icons/search.png");
  background-position: center;
  background-size: contain;
  margin-right: 4px;
}

.chat-side__search-input {
  width: auto;
  background-color: inherit;
  border: none;
  outline: none;
}
