.chat-room__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat-room__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-room__add-context {
  width: 32px;
  height: 32px;
  background-image: url("/static/icons/icon-add-context.svg");
}

.chat-room__textarea {
  resize: none;
  width: 94%;
  padding: 6px;
  height: 32px;
  border-radius: 30px;
  background-color: #efefef;
}

.chat-room__submit {
  background-image: url("/static/icons/arrow-left.svg");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #216d29;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transform: rotate(180deg);
}
