.button-avatar {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #00000050;
  color: white;
  cursor: pointer;
  font-family: Inter-Medium, sans-serif;
  font-size: 13px;
}
