.chat-item
	.chat-item__avatar
	.chat-item__body
		.chat__title #{title}
		.chat-item__content
			.chat-item__left-side
				.chat-item__text #{text}
			.chat-item__right-side
				.chat-item__date #{date}
				.chat-item__unseen #{unseen}
				.chat-item__remove-btn