.chat-item
	.chat-item__avatar
	.chat-item__body
		.chat-item__left-side
			.chat__title #{title}
			.chat-item__content
				.chat-item__left-side
					.chat-item__text #{last_message}
		.chat-item__right-side
			.chat-item__date 
			.chat-item__unseen #{unread_count}
