@import "src/styles/variables";

.chat-room {
  display: grid;
  grid-template-rows: 55px auto 35px;
  position: relative;
  height: 100%;
  width: 100%;
}

.chat-room__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.chat-room__header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-room__menu-inner {
  position: absolute;
  top: 0;
  right: 12px;
  display: none;
  flex-direction: column;
  padding: 8px 0;
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  border-radius: 8px;
  list-style-type: none;
  z-index: 5;
}

.chat-room__menu-button {
  position: relative;

  &:hover .chat-room__menu-inner {
    display: flex;
  }
}

.chat-room__body {
  overflow-y: auto;
  margin: 10px 0;
}

.chat-room__footer {
  width: 100%;
}

.chat-room__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-room__add-context {
  width: 32px;
  height: 32px;
  background-image: url("/static/icons/icon-add-context.svg");
}

.chat-room__textarea {
  resize: none;
  width: 94%;
  padding: 6px;
  height: 32px;
  border-radius: 30px;
  background-color: $grey-bg;
}

.chat-room__submit {
  background-image: url("/static/icons/arrow-left.svg");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green-base;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transform: rotate(180deg);
}
