if isItself
	.chat-message.message-right
		.chat-message__body.message-self
			.chat-message__text #{content}
			.chat-message__date #{time}
else
	.chat-message
		.chat-message__body
			.chat-message__text #{content}
			.chat-message__date #{time}	
		